= content_for :title do
  Букшеринг

%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Theme Made By www.w3schools.com - No Copyright
    %title Bootstrap Theme The Band
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"}
    :css
      body {
        font: 400 15px/1.8 Lato, sans-serif;
        color: #777;
      }
      h3, h4 {
        margin: 10px 0 30px 0;
        letter-spacing: 10px;      
        font-size: 20px;
        color: #111;
      }
      .container {
        padding: 80px 120px;
      }
      .person {
        border: 10px solid transparent;
        margin-bottom: 25px;
        width: 80%;
        height: 80%;
        opacity: 0.7;
      }
      .person:hover {
        border-color: #f1f1f1;
      }
      .carousel-inner img {
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%); /* make all photos black and white */ 
        width: 100%; /* Set width to 100% */
        margin: auto;
      }
      .carousel-caption h3 {
        color: #fff !important;
      }
      @media (max-width: 600px) {
        .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
        }
      }
      .bg-1 {
        background: #2d2d30;
        color: #bdbdbd;
      }
      .bg-1 h3 {color: #fff;}
      .bg-1 p {font-style: italic;}
      .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }
      .thumbnail p {
        margin-top: 15px;
        color: #555;
      }
      .btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
      }
      .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
      }
      .modal-header, h4, .close {
        background-color: #333;
        color: #fff !important;
        text-align: center;
        font-size: 30px;
      }
      .modal-header, .modal-body {
        padding: 40px 50px;
      }
      .nav-tabs li a {
        color: #777;
      }
      #googleMap {
        width: 100%;
        height: 400px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }  
      .navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0;
        background-color: #2d2d30;
        border: 0;
        font-size: 11px !important;
        letter-spacing: 4px;
        opacity: 0.9;
      }
      .navbar li a, .navbar .navbar-brand { 
        color: #d5d5d5 !important;
      }
      .navbar-nav li a:hover {
        color: #fff !important;
      }
      .navbar-nav li.active a {
        color: #fff !important;
        background-color: #29292c !important;
      }
      .navbar-default .navbar-toggle {
        border-color: transparent;
      }
      .open .dropdown-toggle {
        color: #fff;
        background-color: #555 !important;
      }
      .dropdown-menu li a {
        color: #000 !important;
      }
      .dropdown-menu li a:hover {
        background-color: red !important;
      }
      footer {
        background-color: #2d2d30;
        color: #f5f5f5;
        padding: 32px;
      }
      footer a {
        color: #f5f5f5;
      }
      footer a:hover {
        color: #777;
        text-decoration: none;
      }  
      .form-control {
        border-radius: 0;
      }
      textarea {
        resize: none;
      }

    %nav.navbar.navbar-dark.bg-dark
      %a.nav-item{:href => ""}
        Букшеринг
      %li.dropdown
        %a{"data-toggle" => "dropdown", :href => '#'}
          Книги на сайте
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Жанры', '/heading'
          %li
            = link_to 'Издательства', '/publisher'
          %li
            = link_to 'Авторы', '/author'    
      %a.nav-item{:href => "/signup"}
        Регистарция
      %a.nav-item{:href => "/login"}
        Войти


    / Container (The Band Section)
    #band.container.text-center
      %p
        %em Рейхани Амин
      %pLike 
        Самая лучшая и драгоценная книга - та, которая по прочтении не оставляет меня в прежнем состоянии. Книга, которая приводит в движение во мне новое благородное чувство, или новое великое стремление, или новую высокую мысль; книга, которая двигает меня с места или заставляет двигать находящихся кругом. Книга, которая пробуждает меня от глубокого сна, или заставляет выскочить из грязи равнодушия, или ведет на дорогу, где я развяжу один из жизненных узлов.

    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        .item.active
          %img{:alt => "Люовь", :height => "700", :src => "https://www.london.anglican.org/wp-content/uploads/2016/04/Young-man-reading-the-Bible.jpg", :width => "1200"}/
          .carousel-caption
            %h3 Джордж Мартин
            %p Мы читаем фэнтези, чтобы вернуть утраченные краски, ощутить вкус пряностей и услышать песню сирен. Есть нечто древнее и истинное в фэнтези, затрагивающее глубокие струны в наших душах.
            Фэнтези обращается к спрятанному глубоко в нас ребенку, который мечтает, что будет охотиться в лесах ночи, пировать у подножия гор, и найдет любовь, которая будет длиться вечно где-то к югу от Оз и к северу от Шангри-Ла.
        .item
          %img{:alt => "Свобода", :height => "700", :src => "https://static.voices.com/wp-content/uploads/7-Ways-Reading-Aloud-Improves-and-Enriches-Your-Life.jpg"}/
          .carousel-caption
            %h3 Джейн Остин
            %p Как приятно так провести вечер! Говоря откровенно, я не знаю удовольствий, подобных чтению. Насколько быстрее устаешь от всякого другого занятия! Когда я обзаведусь собственным домом, я почувствую себя несчастной, если у меня не будет хорошей библиотеки.
        .item
          %img{:alt => "Los Angeles", :height => "700", :src => "https://c271617568b08567d6ab-bda8aaf5006ecf53c6c9d48d3fbd12e6.ssl.cf2.rackcdn.com/uploaded/m/0e3517691_1407341710_man-with-bible.jpg", :width => "1200"}/
          .carousel-caption
            %h3 Корнелия Функе
            %p Правда, странно, что, если книжку прочитать несколько раз, она становится намного толще? Как будто при каждом чтении что-то остается между страниц. Чувства, мысли, звуки, запахи… И когда ты много лет спустя снова листаешь книгу, то находишь там себя самого — немного младше, немного не такого, как теперь, будто книга сохранила тебя между страниц, как засушенный цветок — вместе знакомого и чужого…
      / Left and right controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

    / Container (Contact Section)
    #contact.container
      %h3.text-center Контакты
      .row
        .col-md-4
          %p
            %span.glyphicon.glyphicon-map-marker>
            Россия, Ульяновск
          %p
            %span.glyphicon.glyphicon-phone>
            Телефон: +79539836229
          %p
            %span.glyphicon.glyphicon-envelope>
            Email: moshinaan@gmail.com
        .col-md-8
          .row
            .col-sm-6.form-group
              %input#name.form-control{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
            .col-sm-6.form-group
              %input#email.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
          %textarea#comments.form-control{:name => "comments", :placeholder => "Comment", :rows => "5"}
          %br/
          .row
            .col-md-12.form-group
              %button.btn.pull-right{:type => "submit"} Send
    

    / Footer
    %footer.text-center
      %a.up-arrow{"data-toggle" => "tooltip", :href => "#myPage", :title => "TO TOP"}
        %span.glyphicon.glyphicon-chevron-up
      %br/
      %br/
      %p
        Если хотети дать деняяг, то пишите, кину реквизиты банка
      %p
        %a{"data-toggle" => "tooltip", :href => "https://vk.com/a_moshina", :title => "Visit w3schools"} vk: @a_moshina
      %p
        %a{"data-toggle" => "tooltip", :href => "https://www.instagram.com/anastas1amosh1na/", :title => "Visit w3schools"} instagram: @anastas1amosh1na
    :javascript
      $(document).ready(function(){
        // Initialize Tooltip
        $('[data-toggle="tooltip"]').tooltip(); 
        
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
      
            // Prevent default anchor click behavior
            event.preventDefault();
      
            // Store hash
            var hash = this.hash;
      
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 900, function(){
         
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      })
      */


