= simple_form_for @book, url: {action: "create"}, html: { multipart: true }, input_html: { class: 'form-horizontal' } do |f|
  = render 'tramway/core/shared/input_extended', field: 'name', class_name: :book, f: f