= simple_form_for @book, url: {action: "create"}, html: { class: 'form-horizontal' }, 
  input_html: { class: 'form-horizontal' } do |f|

  .container
    .row
      .col-md-6.details
        %p Чтобы добавить книги на сайт, необходимо загрузить файл со списком в файле xls, xlsx или ods.
        %p Таблицу с книгами нужно отформатировать следующим образом:
        %p В первой калонке указываем название книги, далее автора, жанр, издател		ьство, год издания, возрастные ограничения
        %p Ниже приведен пример заполнения таблицы книг
        
      .col-md-6.details
        = f.input :book_file, as: :file, input_html:{accept: '.xls,.ods,.xlsx'}
        = f.submit "загрузить книги на сайт"

      %img.img-rounded{:alt => "", :src => "https://sun9-27.userapi.com/c855132/v855132495/134c24/VtnHABJo1DI.jpg"}/






  

