.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "...", :src => "https://s7d4.scene7.com/is/image/roomandboard/074365_wood_W"}/
  .card-body
    %h5.card-title 
      Card title
    %p.card-text 
      Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "#"} Go somewhere


= simple_form_for @book, url: {action: "create"}, html: { class: 'form-horizontal' }, 
  input_html: { class: 'form-horizontal' } do |f|


  = f.input :book_file, as: :file, input_html:{accept: '.xls,.ods,.xlsx'} 

  = f.submit "Create"

