= simple_form_for @book, url: {action: "create"}, html: { multipart: true }, 
  input_html: { class: 'form-horizontal' } do |f|


  = f.input :book_file, as: :file
  = f.submit "Create", class: 'button'


