:javascript
  function deleteRow(row) {
    var i = row.parentNode.parentNode.rowIndex;
    document.getElementById('POITable').deleteRow(i);
  }
  
  function insRow() {
    var x = document.getElementById('POITable');
    var new_row = x.rows[1].cloneNode(true);
    var len = x.rows.length;
    new_row.cells[0].innerHTML = len;
  
    var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
    inp1.id += len;
    inp1.value = '';

    var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';

    var inp2 = new_row.cells[3].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';
    x.appendChild(new_row);

    var inp2 = new_row.cells[4].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';
    x.appendChild(new_row);

    var inp2 = new_row.cells[5].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';
    x.appendChild(new_row);
    
    var inp2 = new_row.cells[6].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';
    x.appendChild(new_row);
  }

#POItablediv
  %table#POITable{:border => "1",:class =>"table table-striped table-dark"}
    %thead
    %tr 
      %th №
      %td Название
      %td Автор
      %td Жанр
      %td Издательство
      %td Год издания
      %td Возрастные ограничениия
      %td 
      %td
    %tr
      %td 1
      %td
        %input{:name =>"Name",:type => "text"}
      %td
        %input{:name => "Author",:type => "text"}
      %td
        %input{:name => "Heading",:list => "heading"}
        %datalist#heading
          %option Художественная литература
          %option Книги для детей
          %option Образование
          %option Наука и техника
          %option Деловая литература
          %option Красота
          %option Здоровье
          %option Спорт
          %option Увлечения
          %option Психология
          %option Эзотерика
          %option Философия и религия
          %option Искусство
          %option Подарочные издания
          %option Книги на иностранных языках
      %td
        %input{:name => "Publisher",:type => "text"}
      %td
        %input{:name => "YearPublishing", :type => "number"}
      %td
        %input{:name => "AgeRestrictions",:list => "age_restrictions"}
        %datalist#age_restrictions
          %option 0+
          %option 6+
          %option 12+
          %option 16+
          %option 18+
      %td 
        %input#delPOIbutton{:onclick => "deleteRow(this)", :type => "image",  :src => "del.png" }
      %td
        %input#addmorePOIbutton{:onclick => "insRow()", :type => "button",:value => "Add More POIs"}


= simple_form_for @book, url: {action: "create"}, html: { multipart: true }, input_html: { class: 'form-horizontal' } do |f|
  = f.input :book_file, as: :file
  = f.submit "Create", class: 'button'


